/Desafios/Aula 10-12/ex031 - Retangulo e Validação/__pycache__
/Desafios/Aula 10-12/ex032 - Conta Bancaria Segura/__pycache__
Desafios/Aula 10-12/ex030 - Criptografia/__pycache__/ex030_Criptografia.cpython-314.pyc
Desafios/Aula 10-12/ex032 - Conta Bancaria Segura/__pycache__/ex032_ContaBancariaSegura.cpython-314.pyc
/Desafios/Aula 10-12/ex032 - Conta Bancaria Segura/__pycache__
/Desafios/Aula 10-12/ex030 - Criptografia/__pycache__
